thead th{
    background: #e8941f;
}
tbody tr:nth-child(even){
background: #dff0d8;
}
tbody tr:nth-child(odd){

background: #ded3d3;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: center;
}
    